@font-face {
    font-family: 'idroid'; src: url('../fontes/idroid.otf') format(opentype);
}
body {
    background-color: #d3d3d3b8;
    font-family: 'idroid', cursive;
}
p {
    font-size: 1.2em;
}
th, td {
    border-color: #000000;
    border-style: solid;
    background-color: #ffffff;
}
a {
    color:#000000;
}
table a:hover{
    color: #ff0000;
}
a::after {
    color: #008ac0;
}
h1 {
    text-align: center;
    font-size: 2.1em;
}
body > a {
    font-size: 1.1em;
    margin-left: 8px;
}
table {
    padding-top: 10px;
}